# Files to ignore
*.class
bBUFFERS
bCONTROL
bBACKUP
*.tmp
javadep
fixcreate
UNKNOWN
filesystem.attributes
bin.*
ir.out
xxx*
hs_err_pid*
update.out
*.xjs
.snapshot
.snapshots
*.o
*.so
core*
*.out
*.old
*.model
public
eclipsepath
*.lcl
*.orig
tags
*~
.*~
*.pdf
*.ps
.svn
.cvs
#*
.gpfs_quota_usage
CHI/
Graphics Design/
IVY/
Simulated
Simulated user study/
Simulated user study exec/
argoUML/
bubbles.jar
bugs/
cbdata1/
eclipse-cs15/
eclipse-java-galileo-win32/
eclipse-java-galileo-win32.zip
eclipsejar/version
findbugs.xml
format/
fullupdate.csh
grundy2.n
import.patch
jEdit/
jForum/
javadb/
javasrc/edu/brown/cs/bubbles/bale/labrador.log
javasrc/edu/brown/cs/bubbles/banal/banalasm.jar
javasrc/edu/brown/cs/bubbles/bandaid/bandaid.jar
javasrc/edu/brown/cs/bubbles/bandaid/bandaidasm.jar
javasrc/edu/brown/cs/bubbles/bandaid/derby.log
javasrc/edu/brown/cs/bubbles/bandaid/testit
javasrc/edu/brown/cs/bubbles/batt/battagent.jar
javasrc/edu/brown/cs/bubbles/batt/battjunit.jar
javasrc/edu/brown/cs/bubbles/batt/countout
javasrc/edu/brown/cs/bubbles/batt/test/
javasrc/edu/brown/cs/bubbles/batt/test1
javasrc/edu/brown/cs/bubbles/batt/testout
javasrc/edu/brown/cs/bubbles/bedrock/BedrockEditor.java.save
javasrc/edu/brown/cs/bubbles/bedrock/bedrock.jar
javasrc/edu/brown/cs/bubbles/bema/bubblesfull.jar
javasrc/edu/brown/cs/bubbles/bema/derby.log
javasrc/edu/brown/cs/bubbles/bema/image0.gif
javasrc/edu/brown/cs/bubbles/bema/image1.gif
javasrc/edu/brown/cs/bubbles/bema/image2.gif
javasrc/edu/brown/cs/bubbles/bema/labrador.log
javasrc/edu/brown/cs/bubbles/bema/netty/
javasrc/edu/brown/cs/bubbles/bema/pbubbles.jar
javasrc/edu/brown/cs/bubbles/bema/pybles/
javasrc/edu/brown/cs/bubbles/bema/pyblesfiles.txt
javasrc/edu/brown/cs/bubbles/bema/runlout
javasrc/edu/brown/cs/bubbles/bfix/insert.txt
javasrc/edu/brown/cs/bubbles/bfix/pass1.txt
javasrc/edu/brown/cs/bubbles/bfix/test.html
javasrc/edu/brown/cs/bubbles/bedu/cs015.txt
javasrc/edu/brown/cs/bubbles/pybase/PybaseTest1.java
javasrc/edu/brown/cs/bubbles/pybase/debug/ConfigSource
javasrc/edu/brown/cs/bubbles/pybase/runpy.csh
javasrc/edu/brown/cs/bubbles/pybase/temp/
javasrc/edu/brown/cs/bubbles/rebase/sample.log
labrador.log
lib/#bRSTR4meI4v
lib/bandaid.jar
lib/bandaidasm4.jar
lib/battagent.jar
lib/battjunit.jar
lib/bedrock.jar
lib/jgraph.jar
lib/jgraphx.jar
lib/junit.jar.1
lib/junk/
lib/pydevfull.jar
lib/pydevsrc.jar
lib/svnkit.jar
lib/swcengine.jar
monitor.txt
pbubbles.jar
reviews/
setupmint.csh
suds/
support/
textilej.jar
uploads/
utra.txt
javasrc/edu/brown/cs/bubbles/board/derby.log
derby.log
runlog.log
bubbles.jar*
seede.log
fait.log
notes.txt
stats.csv
lib/org.eclipse*.jar
coverage.xml
install*.jar
makeinstaller.csh
nashorn.jar
nashorn.rules
createjar.csh
test?
video
.nfs*
build.properties
#bBUFS*
#bRSTR*
lib/marytts/log
javadep1
lvylib.jar
ivysrc.jar
lib/ivy.jar
java/words
.DS_Store
lib/updateeclipsemac.csh
lib/JSFiles
ivylib.jar
dropins
dropins.export
lib/bubjet.jar
javasrc/edu/brown/cs/bubbles/bema/updater.jar
.darttraffic*
oldlilb
