/********************************************************************************/
/*										*/
/*		${NAME}.java							*/
/*										*/
/*	description of interface						*/
/*										*/
/*	Written by ${AUTHOR}							*/
/*										*/
/********************************************************************************/



$(PACKAGE)

$(IMPORTS)

$(MODIFIERS)$(TYPE) $(NAME)$(EXTENDS)$(IMPLEMENTS)
{


$(CONTENT)


}	// end of $(TYPE) $(NAME)




/* end of $(NAME).java */
